@import url('./web-clash-display/css/clash-display.css');

$font-regular: 'ClashDisplay-Regular';
$font-semibold: 'ClashDisplay-Semibold';
$font-bold: 'ClashDisplay-Bold';
$font-medium: 'ClashDisplay-Medium';

$color-neon-purple: #dd5e73;
$color-body-color: #101010;

* {
  font-family: $font-regular;
  cursor: none;
}

body {
  background-color: #000;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  border: 2px solid #acacac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 500ms transform;
  &.click {
    transform: scale(0.3);
  }
  #point {
    border: 2px solid #acacac;
    border-radius: 9999px;
  }
}

.view-wrapper {
  display: flex;
  flex-wrap: wrap;
  .view {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
      position: relative;
      width: 30%;
      min-width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      .text {
        overflow: hidden;
        position: relative;
        display: inline;
        margin: 80px 0;
        h2 {
          margin: 0;
          color: #fff;
          font-size: 80px;
          font: $font-bold;
          text-shadow: 0px 0px 10px rgba($color: $color-neon-purple, $alpha: 1);
        }
        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 80%;
          height: 80px;
          z-index: -1;
          background-color: $color-neon-purple;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }
}
