<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{'/' | relative_url}}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSAP ScrollTrigger Example</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ '/assets/style/style.css' | relative_url }}" />
  </head>
  <body data-barba="wrapper">
    <header>
      <nav>
        <div class="logo">
          <h2>K</h2>
          <small>dev</small>
        </div>
        <ul>
          <li>
            <a href="{{ '/' | relative_url }}">Home</a>
          </li>
          <li>
            <a href="{{ '/contact' | relative_url }}">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    {{ content }}

    <ul class="preload-boxes">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div id="custom-cursor">
      <div id="point"></div>
    </div>

    <!-- GSAP Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"
      integrity="sha512-Q+G390ZU2qKo+e4q+kVcJknwfGjKJOdyu5mVMcR95NqL6XaF4lY4nsSvIVB3NDP54ACsS9rqhE1DVqgpApl//Q=="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@barba/core"></script>

    <!-- Additional Script -->
    <script src="{{ '/assets/js/mouse-events.js' | relative_url}}"></script>
    <script src="{{ '/assets/js/animations.js' | relative_url}}"></script>
    <script src="{{ '/assets/js/app.js' | relative_url}}"></script>
  </body>
</html>
